<html>
<head>
    <title>Audio Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
<div class="block" id="inputs">
    <form action="/download" method="POST">
        <h2>Audio Downloader</h2>
        <input style="margin-top:10px" type="text" placeholder="Title" name="title" id="title" required>
        <br>
        <input style="margin-top:10px" type="text" placeholder="Artist (Optional)" name="by" id="by">
        <br>
        <button style="margin-top:10px" type="submit">Download</button>
    </form>
</div>
<div id="disclaimer">
    <p>
        We take no responsibility if you choose to download
        copyrighted content, not all videos come under the
        creative commons licence
    <p/>
    <a href="https://www.makeuseof.com/tag/is-it-legal-to-download-youtube-videos/#:~:text=There's%20no%20room%20for%20interpretation,permission%20from%20the%20company%20itself.">
        Whats legal to download?</a>
</div>

</body>
</html>