<!doctype html>
<html>
<head>
    <title>Audio Downloader</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        var title = '{{title}}'
        var auth = '{{auth}}'

        socket.on('ready', function (data) {
            if(title === data.title) {
                document.getElementById("downloaddiv").style = "block"
                document.getElementById("loadingtext").style = "none"
            }
        });

    </script>
</head>
<body>
<a id="loadingtext">Preparing file</a>
<div id="downloaddiv" style="display:none">
    <form action="/send/{{title}}/{{auth}}" method="POST">
        <button type="submit">Download {{title}}</button>
    </form>
</div>
</body>
</html>

