<!doctype html>
<html>
<head>
    <title>Audio Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">
        var socket = io();
        var title = '{{title}}'
        var auth = '{{auth}}'

        socket.on('ready', function (data) {
            console.log(title, data.title)
            console.log(auth, data.auth)
            if(title === data.title) {
                document.getElementById("downloaddiv").style.display = "block"
                document.getElementById("loadingdiv").style.display = "none"
            }
        });

        var dots = window.setInterval( function() {
        var wait = document.getElementById("wait");
        if ( wait.innerHTML.length >= 4 )
            wait.innerHTML = "";
        else
            wait.innerHTML += ".";
        }, 200);

    </script>
</head>
<body>

<div class="block" id="loadingdiv">
    <a id="loadingtext">Preparing file</a>
    <span id="wait">.</span>
    <br>
    <a style="font-size:10px">(Its working, it may just take a while)</a>
</div>

<div class="block" id="downloaddiv" style="display:none">

    <form action="/send/{{title}}/1{{auth}}" method="POST">
        <a>Download Ready</a>
        <br>
        <button  style="margin-top:10px"; type="submit">Download {{title}}</button>
    </form>

</div>

</body>
</html>

